/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/offcanvas';
@import 'bootstrap/scss/placeholders';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';

// Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

// Style
// Variable
$bg:#eff0f3;
$white:#fffffe;
$gray:#eff0f3;
$primary:#ff8e3c;
$primary_hover:#e58037;
$dark:#0d0d0d;
$dark_text:#2a2a2a;

html {
    padding-top: 50px;
    scroll-behavior: smooth;
}

// Body
body {
    font-family: 'Poppins', sans-serif;
}

/*
** Home Page CSS
*/

// Navbar
.navbar {
    background: $bg;

    .navbar-brand {
        font-weight: 800;
        transition: color .3s ease-in-out;

        &:hover {
            color: $primary;
        }
    }

    .navbar-toggler {
        border: none;
        outline: none !important;
        box-shadow: none !important;

        i {
            font-size: 1.6rem;
        }
    }

    .active {
        color: $primary !important;
        font-weight: 600;
    }
}

// Header
.header {
    background: $bg;
    padding: 2rem 0;

    h1 {
        font-size: 4rem;
        font-weight: 800;
        margin-bottom: 0;
    }

    span {
        color: $primary;
    }
}


// Section
section {
    padding: 5rem 0;

    .section_title {
        text-align: center;
        margin-bottom: .6rem;
        font-weight: 600;
        font-size: 2rem;
    }

    .section_description {
        text-align: center;
        margin-bottom: 3rem;
        color: $dark_text;
    }
}

// About
.about {
    .section_title {
        color: $dark;
    }

    .card {
        background: $gray;
        margin-bottom: 1rem;
        border-radius: 8px;
        transition: all .5s ease-in-out;

        h3 {
            color: $dark_text;
            font-size: 1.4rem;
            margin-bottom: 0;
            font-weight: 600;
        }

        p {
            margin-bottom: 0;
            color: $dark_text;
        }

        &:hover {
            transform: translateY(-6px);
            cursor: pointer;
        }
    }
}

// Service
.service {
    .section_description {
        color: $dark_text;
    }

    .card {
        text-align: -webkit-center;
        border-radius: 10px;
        transition: all .5s ease-in-out;
        margin-bottom: 1rem;

        h3 {
            font-size: 1.4rem;
            margin-bottom: 0;
            font-weight: 600;
        }

        p {
            margin-bottom: 0;
        }

        .logo {
            background: $primary;
            width: 80px;
            padding: .7rem;
            border-radius: 50%;
            margin-bottom: 1rem;

            i {
                color: $white;
                font-size: 2.3rem;
            }
        }

        &:hover {
            background: $primary;
            color: $white;
            cursor: pointer;

            .logo {
                background: $white;

                i {
                    color: $primary;
                }
            }
        }
    }
}

// Portfolio
.portfolio {
    .section_description {
        color: $dark_text;
    }

    .card {
        margin-bottom: 1rem;
        border-radius: 10px;

        img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}

// Contact
.contact {
    background: $bg;

    .section_description {
        color: $dark_text;
    }

    iframe {
        width: 100%;
        height: 400px;
    }

    .card {
        border-radius: 10px;

        .content {
            display: flex;
            align-items: center;
            padding: .5rem 0;

            i {
                color: $primary;
                font-size: 2rem;
                margin-right: .8rem;
            }

            h3,
            p {
                margin-bottom: 0;
            }

            h3 {
                font-size: 1.2rem;
            }

            .hr-dotted {
                border-top: 1px dotted;
                opacity: .25;
                margin: 0;
            }
        }
    }


}

// Footer
.footer {
    background: $bg;
    text-align: center;
    padding: 1rem 0;

    p {
        margin-bottom: 0;

        i {
            color: #d43434;
        }
    }

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            color: $primary_hover;
        }
    }
}

/*
** Utils CSS
*/
.btn-primary {
    background: $primary;
    border-color: $primary;

    &:hover,
    &:focus {
        background: $primary_hover !important;
        border-color: $primary_hover;
    }
}

.back_to_top {
    background: $primary;
    width: 60px;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    border-radius: 100%;
    text-align: center;
    color: $white;
    padding: .5rem;
    cursor: pointer;
    display: none;

    i {
        font-size: 1.7rem;
    }

    &:hover {
        background: $primary_hover;
        color: $white;
    }
}